.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item img {
  height: 300px;
}
.item .card-title {
  min-height: 50px;
}
.cart-img img {
  height: 50px;
}
