.counter {
  height: 300px;
  background-color: #d8d9cf;
  border-radius: 20px;
  color: #e26868;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.buttons {
  display: flex;
  justify-content: space-around;
}
